.blogcontainer{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
  "hd hd hd hd"
  "ct ct ct ni"
  "ct ct ct at"
  "ct ct ct it"
  "ct ct ct ce";
}
.blogheader{
  grid-area:hd;
  padding: 30px;
  place-self: center;
}
.content{
  grid-area:ct;
  padding: 70px;
}
.newin{
  grid-area:ni;
  padding: 30px;
}
.about{
  grid-area:at;
  padding: 30px;
}
.interest{
  grid-area:it;
  padding: 30px;
}
.connect{
  grid-area:ce;
  padding: 30px;
}