.blogcontainer{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
  "hd hd hd hd"
  "ct ct ct ni"
  "ct ct ct at"
  "ct ct ct it"
  "ct ct ct ce";
  border: 2px solid yellow;
}
.blogheader{
  grid-area:hd;
}
.content{
  grid-area:ct;
}
.newin{
  grid-area:ni;
}
.about{
  grid-area:at;
}
.interest{
  grid-area:it;
}
.connect{
  grid-area:ce;
}