/*Rules for smaller mobile devices*/
@media screen and (max-width:768px) {
    /*general formatting*/
    body{
        font-size: 14px;
        line-height: 1.3;
    }
    h1{
    	font-size: 30px;
        text-align: left;
    }
    h2{
    	font-size: 20px;
        text-align: left;
    }
    h3{
    	font-size: 18px;
        text-align: left;
    }
   /*homepage*/
   .responsive {
    width: 100%;
    min-width: 0;
    object-fit: cover;
    }
    .homepageheader{
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: repeat(3, 33vw);
    grid-template-rows: repeat(auto-fit,10vw);
    overflow: hidden;
    grid-template-areas:
    "p1 p2 p3"
    "p1 p2 p3";
    }
    .articlecontainer1{
    flex-wrap: wrap;
    }
    .articlecontainer2{
    flex-wrap: wrap;
    }
    .articlecontainer3{
    flex-wrap: wrap;
    }
    /*blogpost*/
    .content{
        padding: 25px;
    }
    .img1 {
        width: 100%;
    }
}
/*Devices between 769 and 1024px width are considered standard*/
/*Rules for large screens*/
@media screen and (min-width:1024px) {
    /*general formatting*/
    body{
        line-height: 1.5;
        font-size: 20px;
    }
    h1{
    	font-size: 50px;
    }
    h2{
    	font-size: 35px;
    }
    h3{
    	font-size: 25px;
    }
    /*homepage*/
    .homepageheader{
        display:grid;
        margin-bottom: 50px;
        grid-template-columns: repeat(5, 20vw);
        grid-template-rows: 20vw;
        overflow: hidden;
        grid-template-areas:
        "p1 p2 p3 p4 p5";
    }
    #topo{
        width: 350px;
        height: 260px;
    }
    #reportage{
        width: 350px;
        height: 260px;
    }
    #review{
        width: 350px;
        height: 260px;
    }
    /*blogpost*/
    .blogcontainer{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(100px, auto);
        overflow: hidden;
        grid-template-areas: 
        "hd hd hd hd hd"
        "hd hd hd hd hd"
        "ct ct ct sb sb"
        "ct ct ct sb sb"
        "ct ct ct sb sb"
        "ct ct ct sb sb";
    }
    .blogheader{
        background-repeat: no-repeat;
        background-image: url("images/pexels-stephan-seeber-resize.jpg");
    }
    .sidebar{
        padding: 70px;
        margin-bottom: 50px;
    }
    .img1 {
        width: 70%;
    }
}